body {
  margin: 100;
  line-height: 1.6;
  color: #b4aba8;
}

.block_ {
  display: block;
  font-family: serif;
  font-size: 1em;
  text-align: center;
  margin: 0;
  padding: 0;
}

.block_1 {
  display: block;
  font-size: 1.41667em;
  font-weight: bold;

  text-align: center;
  margin: 0;
  padding: 0;
}

.block_2 {
  display: block;
  font-size: 1.41667em;

  text-align: left;
  margin: 0;
  padding: 0;
}

.block_3 {
  display: block;
  font-size: 1.41667em;

  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  margin: 12pt 0 0;
  padding: 0;
}

.block_4 {
  display: block;
  text-align: justify;
  margin: 0;
  padding: 0;
}

.block_5 {
  display: block;
  text-align: justify;
  margin: 0 0 0 2em;
  padding: 0;
}

.block_6 {
  display: block;
  text-align: justify;
  margin: 0 0 0 4em;
  padding: 0;
}

.block_7 {
  display: block;
  font-family: serif;
  text-align: justify;
  margin: 0 0 0 2em;
  padding: 0;
}

.block_8 {
  display: block;
  font-weight: bold;
  text-align: justify;
  margin: 0;
  padding: 0;
}

.block_9 {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
}

.block_10 {
  display: block;
  font-family: serif;
  font-size: 1em;
  font-weight: normal;

  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  margin: 17pt 0 16.5pt;
  padding: 0;
}

.block_11 {
  display: block;
  font-size: 1.125em;
  font-weight: bold;

  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  margin: 17pt 0 16.5pt;
  padding: 0;
}

.block_12 {
  display: block;
  font-size: 1.125em;
  font-weight: bold;

  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  margin: 13pt 0;
  padding: 0;
}

.block_13 {
  display: block;
  font-family: serif;
  font-size: 1em;
  text-align: justify;
  margin: 0;
  padding: 0;
}

.block_14 {
  display: block;
  font-size: 1.125em;
  font-weight: bold;

  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  margin: 17pt 0 16.5pt;
  padding: 0;
}

.block_15 {
  display: block;
  font-family: serif;
  font-size: 1em;
  text-align: left;
  margin: 0;
  padding: 0;
}

.block_16 {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
}

.block_17 {
  display: block;
  font-family: serif;
  text-align: left;
  margin: 0;
  padding: 0;
}

.block_18 {
  display: block;
  font-family: serif;
  text-align: justify;
  margin: 0;
  padding: 0;
}

.block_19 {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.block_20 {
  display: block;
  text-align: center;
  text-decoration: underline solid;
  margin: 0;
  padding: 0;
}

.block_21 {
  display: block;
  font-family: "Tahoma", sans-serif;
  text-align: justify;
  margin: 0;
  padding: 0;
}

.block_22 {
  display: block;
  font-size: 1.125em;
  font-weight: bold;

  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: justify;
  margin: 13pt 0;
  padding: 0;
}

.block_23 {
  display: block;
  text-align: left;
  text-decoration: underline solid;
  margin: 0;
  padding: 0;
}

.block_24 {
  display: block;
  font-size: 1.41667em;
  font-weight: bold;

  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  margin: 13pt 0;
  padding: 0;
}

.block_25 {
  color: #000;
  display: block;
  text-align: justify;
  margin: 0;
  padding: 0;
}

.block_26 {
  display: block;
  font-family: "等线 Light", serif;
  font-size: 1.125em;
  font-weight: bold;

  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  margin: 13pt 0;
  padding: 0;
}

.block_27 {
  display: block;
  text-align: justify;
  text-decoration: underline solid;
  margin: 0;
  padding: 0;
}

.table_ {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  padding: 0;
  border: currentColor solid 1pt;
}

.table_1 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  text-indent: 0;
  margin: 0 auto;
  padding: 0;
  border: currentColor solid 1pt;
}

.td_ {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}

.td_1 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_2 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_3 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}

.td_4 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}

.td_5 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_6 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}

.td_7 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_8 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_9 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 207pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}

.td_10 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 207pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_11 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 207pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}

.td_12 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 207pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_13 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 207pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}

.td_14 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 207pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_15 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}

.td_16 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_17 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_18 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}

.td_19 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 207pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}

.td_20 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_21 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}

.td_22 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_23 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_24 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}

.td_25 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_26 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_27 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}

.td_28 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_29 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}

.td_30 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_31 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_32 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 207pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}

.td_33 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}

.td_34 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_35 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_36 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}

.td_37 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}

.td_38 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_39 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}

.td_40 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_41 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 138pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_42 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 123pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}

.td_43 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 97.2pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_44 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 97.2pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_45 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 123pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}

.td_46 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 97.2pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}

.td_47 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 97.2pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_48 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 123pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}

.td_49 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 97.2pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_50 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 97.2pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_51 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 69.1pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}

.td_52 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 69.1pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_53 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 69.2pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_54 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 69.2pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_55 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 69.1pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}

.td_56 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 69.1pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}

.td_57 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 69.2pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}

.td_58 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 69.2pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_59 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 69.1pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}

.td_60 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 69.1pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_61 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 69.2pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_62 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 69.2pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_63 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 83pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}

.td_64 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 83pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_65 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 83pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_66 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 83pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}

.td_67 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 83pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_68 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 83pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}

.td_69 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 207pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
}

.td_70 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 207pt;
  padding: 0.5ex 5.4pt;
  border-left: currentColor solid 1pt;
}

.text_ {
  color: #b4aba8;
  text-decoration: underline solid;
  line-height: 3;

}

.text_1 {
  color: #b4aba8;
  text-decoration: underline solid;

}

.text_2 {
  color: #b4aba8;
  text-decoration: underline solid;

}

.text_3 {
  color: #b4aba8;
  text-decoration: underline solid;

}